body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: lightgray;
}
tr:nth-child(odd) {
    background-color: white;
}
form {
    border: 1px solid #000;
    padding: 20px;
    border-radius: 5px;
}
label {
    display: block;
    margin: 10px 0 5px;
}
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 15px;
    background-color: #d544eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #8e0880;
}